body {
  font-family: 'Roboto', sans-serif;
  font-style: 16px;
}

section {
  margin-bottom: 2rem;
}

a {
  color: #000;
}

.container {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 64px;
  padding-right: 64px;
}

.title {
  text-align: center;
}

.block {
  border: 1px solid #000;
}

/* header */

.header__block {
  display: flex;
  margin-top: 3rem;
}
.header__left {
}
.header__photo {
  border: 1px solid #000;
}
.header__right {
  margin-left: 2rem;
}
.header__info {
  margin-bottom: 1rem;
}

/* header */

/* purpose */

.purpose {
}

.purpose__block {
}

.purpose__title {
}
.purpose__list {
}
.purpose__item {
  margin-bottom: 0.3rem;
}

.purpose__item:last-child {
  margin-bottom: 3rem;
}

/* purpose */

/* study */

.study {
}

.study__block {
}

.study__list {
  margin: 2rem 40% 0 35%;
}
.study__item {
  display: flex;
  justify-content: space-between;
  line-height: 1.5;
}

.study__item:last-child {
  margin-bottom: 3rem;
}

/* study */

/* courses */

.courses__list {
  margin-left: 5rem;
  margin-right: 5rem;
  padding: 0;
}


.courses__item {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-bottom: .7rem;
  padding-top: .7rem; 
}

.courses__item--bb {
  border-bottom: 1px solid #000;
  font-weight: bold;
}

/* courses */

/* .contacts */

.contacts {
}
.contacts__list {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin-top: 2rem;
  margin-left: 2rem;
  margin-right: 5rem;

}
.contacts__item {
  text-decoration: none;
}
.contacts__link {
  text-decoration: none;  
  text-align: center;

}
.contacts__desc {
}

/* .contacts */
